:root{
--bg:#0f172a;
--text:#fff;
--card:#1e293b;
--accent:#38bdf8;
}

.light{
--bg:#f8fafc;
--text:#0f172a;
--card:#fff;
--accent:#0ea5e9;
}

body{
margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);
}

/* NAVBAR */
nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#020617;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

nav a:hover{
color:var(--accent);
}

/* CURSOR */
.cursor{
position:fixed;
width:15px;
height:15px;
background:gold;
border-radius:50%;
box-shadow:0 0 15px gold, 0 0 30px gold;
pointer-events:none;
z-index:999;
}

/* SECTIONS */
section{
padding:80px;
text-align:center;
}

/* CARD */
.card{
background:var(--card);
padding:20px;
border-radius:12px;
transition:.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 0 20px #38bdf8;
}

/* BUTTON */
.btn{
background:var(--accent);
padding:10px 20px;
color:white;
text-decoration:none;
border-radius:6px;
display:inline-block;
margin-top:10px;
}

.btn:hover{
background:white;
color:black;
}

/* CONTACT FORM */
form{
max-width:400px;
margin:auto;
background:var(--card);
padding:20px;
border-radius:10px;
}

input,textarea{
width:100%;
margin:10px 0;
padding:10px;
border:none;
border-radius:6px;
}

/* SOCIAL */
.social a{
font-size:30px;
margin:10px;
color:white;
}

.social a:hover{
color:#38bdf8;
}
